body {
  margin: 0px;
  color: #EEEEE4;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #E28743;
}

a:visited {
  color: #EAB676;
}

a:hover {
  color:#EEEEE4;
}

.popup-arrow {
  color: #E28743;
}