body {
  margin: 0px;
  color: #eeeee4;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #e28743;
}

a:visited {
  color: #eab676;
}

a:hover {
  color: #eeeee4;
}

.popup-arrow {
  color: #e28743;
}
